
Options -Indexes

# ErrorDocument 400 /404.html
# ErrorDocument 401 /404.html
# ErrorDocument 403 /404.html
ErrorDocument 404 /

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 
