
header {
    background-color: #005fb1;
    color: #fff;
    margin: 0;
}

/* header a:-webkit-any-link {
    color: #fff;
    padding: 0.4rem 0.8rem;
    display: inline-block;
} */

/* header * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
} */

header a {
    color: #fff;
    /* padding: 0.4rem 0.8rem; */
    text-decoration: none;
    display: inline-block;
    transition: all .5s ease-in-out;
}

header h1 {
    /* Margin-top default was adding white block on the top of the page */
    margin: 0;
    display: block;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0 0;
}

header nav a {
    padding: 0.4rem 0.8rem;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -5px rgba(255,255,255,0);
    /* border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem; */
}

header nav a[aria-current="page"] {
    background-color: #0074d8;
    color: #fff;
}

header nav a:hover,
header nav a:active,
header nav a:focus {
    /* Reserving for different effects between hover/active and selected */
    background-color: #0074d8;
    color: #fff;
}

header nav {
    width: 100%;
    text-align: right;
}
