
header {
    background-color: #005fb1;
    color: #fff;
    margin: 0;
}

header h1 {
    /* Margin-top default was adding white block on the top of the page */
    margin: 0;
    display: block;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0 0.5rem;
}

header a {
    color: #fff;
    /* padding: 0.4rem 0.8rem; */
    text-decoration: none;
    display: inline-block;
    transition: all .5s ease-in-out;
}

header a:visited {
    color: #fff;
}

header h1 a:visited,
header h1 a:hover,
header h1 a:active,
header h1 a:focus {
    text-decoration: none;
    color: #fff;
}

header nav {
    width: 100%;
    text-align: right;
}

header nav a:link,
header nav a:visited {
    padding: 0.4rem 0.8rem;
    box-sizing: border-box;
    text-decoration: none;
}

header nav a:hover,
header nav a:active,
header nav a:focus {
    /* Reserving for different effects between hover/active and selected */
    background-color: #0074d8;
    color: #fff;
    text-decoration: none;
}

header nav a[aria-current="page"] {
    background-color: #0074d8;
    color: #fff;
    text-decoration: none;
}
