
@import url('https://fonts.googleapis.com/css?family=Jura&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Jura|Merriweather|Source+Sans+Pro&display=swap'); */

/* ============================================================== *\
 *
 * Theme / Palette
 *
\* ============================================================== */

/* https://www.color-hex.com/color-palette/84804

Dark Blue: #00203b	(0,32,59)
Mid Blue: #005fb1	(0,95,177)
Bright Blue: #0074d8	(0,116,216)
Slate Blue: #6791a2	(103,145,162)
Light Grey: #edf2f4	(237,242,244)

*/

/* ============================================================== *\
 *
 * Global
 *
\* ============================================================== */

/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
} */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #edf2f4; */
}

html, body {
    font-family: Jura, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}


/* ============================================================== *\
 *
 * Global
 *
\* ============================================================== */


main {
    padding: 1rem;
    margin: 0 0 3.5rem;
    line-height: 1.35;
}

main figure {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

main figure img {
    width: 100%;
    /* border-radius: 0.8rem; */
    transition: all 1s ease-in-out;
}

main h2 {
    margin: 0 0 1rem;
}

main section {
    margin: 1rem auto 1.5rem;
}

main section h3 {
    margin: 0 0 0.5rem;
}

main section p {
    margin: 0 0 1rem;
}

main #portfolio figure {
    width: 100%;
    margin: 1rem auto 1.6rem;
    text-align: center;
}

main #portfolio figure figcaption {
    margin: 0.4rem auto;
    font-size: 0.8rem;
}

main #portfolio figure img {
    width: 90%;
    opacity: 0.8;
    filter: grayscale(50%);
    display: inline-block;
}

main #portfolio figure:hover img {
    opacity: 1;
    filter: grayscale(0%);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 1.5rem;
    background-color: #005fb1;
    color: #fff;
    margin: 0;
    padding: 0.7rem 2rem;
    text-align: center;
}


/* ============================================================== *\
 *
 * Styles for print
 *
\* ============================================================== */

@media print 
{
	header, footer
	{
    display: none;
	}

  .noPrint
  {
    display: none;
  }

  @media not print {
    .onlyPrint
    {
      display: none;
    }
  }
  
  body 
	{ 
		background: #ffffff;
	}
}
