
/* @import url('https://fonts.googleapis.com/css?family=Jura&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Jura|Source+Sans+Pro&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Jura|Merriweather|Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jura|Merriweather|Roboto+Condensed:wght@300;400;700|Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,400&display=swap'); */

@import url('https://fonts.googleapis.com/css2family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* ============================================================== *\
 *
 * Theme / Palette
 *
\* ============================================================== */

/* https://www.color-hex.com/color-palette/84804

Dark Blue: #00203b	(0,32,59)
Mid Blue: #005fb1	(0,95,177)
Bright Blue: #0074d8	(0,116,216)
Slate Blue: #6791a2	(103,145,162)
Light Grey: #edf2f4	(237,242,244)

*/

/* ============================================================== *\
 *
 * Global
 *
\* ============================================================== */

/* * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
} */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #edf2f4; */
}

html, body {
    /* font-family: Jura, 'Lato', 'Source Sans Pro', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Lato', Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
    /* 'Roboto Condensed',  */
    font-family: 'Lato', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1rem;
    font-weight: 700;
}

/* main a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
} */

main a {
    color: #005fb1;
    text-decoration: underline;
    text-decoration-color: rgb(0, 32, 59, 0);  /* #00203b */
    transition: all 0.2s ease-in-out;
}

main a:visited {
    color: #00203b;
    text-decoration: underline;
}

main a:hover, a:focus {
    color: #00203b;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: rgb(0, 32, 59, 0.5);  /* #00203b */
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}


/* ============================================================== *\
 *
 * Global
 *
\* ============================================================== */


main {
    padding: 2rem 1rem 3.5rem;
    margin: 0;
    line-height: 1.4;
}

.card {
    background-color: #ccc;
    /* border: 1px solid #333; */
}

main figure {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

main figure img {
    width: 100%;
    transition: all 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}

main figure.portrait img {
    margin: 0 auto 1.6rem;
}

main h2 {
    margin: 0 0 1rem;
}

main ul li + li {
    padding: .5rem 0 0;
}

main .unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

main > section {
    margin: 1rem auto 2.5rem;
}

main section h3 {
    margin: 0 0 0.5rem;
}

main section p {
    margin: 0 0 1rem;
}

/* Handle unfortunate whitespace collapse of links */
p > a:before {
    content: ' ';
}

p > a:after {
    content: ' ';
}

/* main ul li + li {
    margin-top: .3rem;
} */

.note {
    font-style: italic;
}

/* figure.portrait
responsive img-sm
responsive img-md
responsive img-lg
responsive img-xl */

img.responsive {
    display: none;
}


/* ============================================================== *\
 *
 * Footer
 *
\* ============================================================== */

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 1.5rem;
    background-color: #005fb1;
    color: #fff;
    margin: 0;
    padding: 0.7rem 0;
    text-align: right;
}


/* ============================================================== *\
 *
 * Scrollbar
 *
\* ============================================================== */

/* ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #edf2f4;
}

::-webkit-scrollbar-thumb {
    background: #005fb1;
    background: #6791a2;
    background: #333;
    -webkit-border-radius: 0.2rem;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #333;
} */

/* ============================================================== *\
 *
 * Theme (Colors)
 *
\* ============================================================== */
/* 
body {
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
}

.card {
    background-color: #333;
    border: 1px solid #666;
}

a {
    color: cyan;
}

a:visited {
    color: blue;
} 

footer {
    background-color: #333;
} */



/* ============================================================== *\
 *
 * Responsive Images
 *
\* ============================================================== */

img.responsive {
    display: none;
}


/* ============================================================== *\
 *
 * Breakpoint Ranges
 *
\* ============================================================== */

@media screen and (max-width: 400px) {
    img.responsive.show-sm {
        display: block;
    }
}

/* Removed larger sizes because of container constraint */
/* @media screen and (min-width: 401px) and (min-width: 800px) {
    img.responsive.show-md {
        display: block;
    }
} */

@media screen and (min-width: 401px) {
    img.responsive.show-lg {
        display: block;
    }
}

/* @media screen and (min-width: 1201px) {
    img.responsive.show-xl {
        display: block;
    }
} */



/* ============================================================== *\
 *
 * Large Breakpoint
 *
\* ============================================================== */

/* @media screen and (min-width: 600px) {
    .about .portrait {
        margin: 0 auto 1rem;
    }
} */


/* ============================================================== *\
 *
 * Styles for print
 *
\* ============================================================== */

@media print 
{
	header, footer
	{
    display: none;
	}

  .noPrint
  {
    display: none;
  }

  @media not print {
    .onlyPrint
    {
      display: none;
    }
  }
  
  body 
	{ 
		background: #ffffff;
	}
}
