
/* .resume section > h3 {
    background-color: #fff;

    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: .1em;

    padding: 0.5em 0 0.1em;
    margin: 0 0 0.7em;
    border-bottom: 1px solid rgba(200,200,200,0.8);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
} */


.resume .job .info {
    line-height: 1.2;
}

.resume .myInfo .unstyled-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    font-size: 0.9rem;
}

.resume .myInfo .unstyled-list li {
    display: inline-flex;
    flex: 0 1 auto;
    justify-content: flex-end;
    padding: 0.1rem 0 0.1rem;
}

.resume h4 + ul {
    margin-top: 0.2rem;
}

.resume .position {
    font-size: 0.8rem;
    line-height: 1.2;
}
