
.portfolioCard {
    background-color: #ccc;
    border: 1px solid #333;
    padding: 1rem 2rem;
    margin: 0 auto 3rem;
}

figure {
    width: 100%;
    margin: 1rem auto 1.6rem;
    text-align: center;
}

figure img {
    /* width: 90%; */
    /* opacity: 0.9; */
    /* filter: grayscale(20%); */
    display: inline-block;
}

/* main #portfolio figure:hover img {
    opacity: 1;
    filter: grayscale(0%);
} */
/* 
main #portfolio .description {
    margin: 0 auto 2rem;
} */

figure figcaption {
    margin: 0.2rem auto;
    font-size: 0.8rem;
    font-style: oblique;
}

.description {
    margin: 0 auto 2rem;
}
