
.portfolioCard {
    padding: 1rem;
    margin: 0 auto 3rem;
    padding: 1rem 1.5rem;
}

.portfolioCard .description {
    margin: 0 auto;
}

.portfolioCard h3 {
    padding: 0;
}

.portfolioCard p + p {
    margin: 1rem 0 0;
}

/* Extra spacing in description */
.portfolioCard .description + figure {
    margin-top: 2rem;
}

figure {
    width: 100%;
    margin: 1rem auto 1.6rem;
    text-align: center;
}

figure img {
    display: block;
}

figure figcaption {
    margin: 0 auto 1rem;
    padding: 0.4rem;
    font-size: 0.8rem;
    font-style: oblique;
    background-color: #00203b;
    color: #fff;
}

p + figure {
    margin-top: 2rem;
}